name: Yor

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  yor-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Run yor action
        uses: bridgecrewio/yor-action@main
        with:
          config_file: test_config.yaml
          log_level: INFO
